/* body {
  background-image: url('images/herbal.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
} */

#introduction {
  background-color: #fff;
}
#hero__carousel,
#products {
  margin-top: 5rem;
  margin-bottom: 1rem;
}

#contact__container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* #schedule {
  color: #fff;
} */

.navbar,
#testimonies,
.footer {
  background-color: #198754;
  font-weight: 500;
}

#testimonies figcaption {
  color: #fff;
}

/* #products__container {
  background-image: url('images/spiritual.jpg');
} */
