body {
  background-image: url('images/herbal.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#introduction {
  background-color: #fff;
}
#hero__carousel {
  margin-top: 5rem;
}

#schedule {
  color: #fff;
}

#testimonies {
  background-color: #198754;
}

#testimonies figcaption {
  color: #fff;
}
