/* body {
  background-image: url('images/herbal.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
} */

#introduction {
  background-color: #fff;
}

#hero__carousel,
#products,
#about__container {
  margin-top: 5rem;
}

#contact__container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* #schedule {
  color: #fff;
} */

.carousel-caption {
  top: 10%;
  left: 30%;
  right: 30%;
  color: rgb(119, 255, 131);
}

.navbar,
.footer {
  background-color: #fff;
  font-weight: 500;
}
#testimonies {
  /* background-color: #057a28; */
  color: #fff;
  font-weight: 500;
}

#testimonies figcaption {
  color: #fff;
}

/* #products__container {
  background-image: url('images/spiritual.jpg');
} */

.about p {
  margin: 0;
  text-indent: 2rem;
  text-align: justify;
}
